<!DOCTYPE html>
<html>
<head>
<title>Opinion Collector</title>
<link rel="stylesheet" type="text/css" href="main.css"/>
</head>
<body>

<div class="header">
  <div class="header-right">
    <a class="active" href="#">MCDONALD V. WENDY</a>
  </div>
</div>

<p><h2>Thank you for submitting your response!</p></h2>


<div class="footer">
  <p>The year is 2109 - McDonald's and Wendy's have taken over as the dominant parties in the United States. </p>
</div>

</body>
</html>