<!DOCTYPE html>
<html>
<head>
<title>Opinion Collector</title>
<link rel="stylesheet" type="text/css" href="main.css"/>
</head>
<body>

<div class="header">
  <div class="header-right">
    <a class="active" href="#">MCDONALD V. WENDY</a>
  </div>
</div>

<p><h2>SUBMIT YOUR OPINION ABOUT THE 2109 ELECTIONS!</p></h2>
<p><h2>Hi voter! We are collecting data on what you think of the two major parties running in the 2109 elections. Submit your opinions here today.</p></h2>

<div>
  <form action="/contact" method="post" >
    <label for="e-mail_address">E-mail</label>
    <input type="text" id="name" name="email" placeholder="email@example.com">
    
    <label for="comment">Comment</label>
    <input type="text" id="comment" name="comment" placeholder="What is your opinion on the candidates?">

    <input type="submit" value="SUBMIT">
  </form>

<div class="footer">
  <p>The year is 2109 - McDonald's and Wendy's have taken over as the dominant parties in the United States. </p>
</div>

</body>
</html>